<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <app-header-empresa></app-header-empresa>
  <div class="container" style="padding-top: 7%;">
    <div class="card-group">
      <div class="card" onclick="window.location.href='empresa/datos'">
        <img src="../../assets/imgs/verPerfil.jpg" class="card-img-top" alt="Editar perfil" style="height: 60%;">
        <div class="card-body">
          <h5 class="card-title">Ver Perfil</h5>
          <p class="card-text">Ver perfil de la empresa</p>
        </div>
      </div>
      <div class="card" data-bs-toggle="offcanvas" data-bs-target="#crearServicio" aria-controls="crearServicio">
        <img src="../../assets/imgs/crearServicio.jpg" class="card-img-top" alt="Crear anuncio" style="height: 60%;">
        <div class="card-body">
          <h5 class="card-title">Crear servicio</h5>
          <p class="card-text">Crea un nuevo servicio para la empresa</p>
        </div>
      </div>
      <div class="card" onclick="window.location.href='empresa/calendario'">
        <img src="../../assets/imgs/verCalendario.jpg" class="card-img-top" alt="Editar anuncio" style="height: 60%;">
        <div class="card-body">
          <h5 class="card-title">Ver Calendario</h5>
          <p class="card-text">Ver calendario con las reservas</p>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="crearServicio" aria-labelledby="crearServicioLabel" style="width: 100%;">
    <div class="offcanvas-header">
      <h5 id="crearServicioLabel">Crear servicio</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form (submit)="agregarServicio()">
        <div class="input-field">
          <input type="text" class="input" id="nombre" name="nombre" required="required" autocomplete="off" [(ngModel)]="nombre">
          <label for="nombre">Nombre</label>
        </div>
        <div class="input-field">
          <textarea type="descripcion" class="input" id="descripcion" name="descripcion" required="required" [(ngModel)]="descripcion"></textarea>
          <label for="descripcion">Descripcion</label>
        </div>
        <div class="input-field">
          <input type="number" class="input" id="precio" name="precio" required="required" [(ngModel)]="precio">
          <label for="precio">Precio</label>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
      </form>
    </div>
  </div>
</body>

</html>
