* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('../../assets/imgs/fondoHome.jpg');
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.card:last-child {
  margin-right: 0;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.card-img-top {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 20px;
  height: 200px; /* Ajusta la altura de la carta */
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  color: #777;
  margin-bottom: 20px;
  font-size: 1rem; /* Ajusta el tamaño de fuente del texto */
}
/* Estilo para el offcanvas */
/* Estilo para el offcanvas */
.offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0.3s ease;
  overflow-y: auto;
}

/* Estilo para mostrar el offcanvas */
.offcanvas.show {
  visibility: visible;
}

/* Estilo para la posición del offcanvas */
.offcanvas-end {
  transform: translateX(100%);
}

/* Estilo para el encabezado del offcanvas */
.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

/* Estilo para el botón de cierre */
.offcanvas-header .btn-close {
  padding: 0.5rem 0.75rem;
  margin: -0.5rem -0.75rem -0.5rem auto;
}

/* Estilo para el cuerpo del offcanvas */
.offcanvas-body {
  padding: 1rem;
  background-color: #fff;
}

/* Estilo para los campos de entrada */
.input-field {
  margin-bottom: 1rem;
}

.input-field label {
  display: block;
  font-size: 0.8rem;
  color: #495057;
  margin-bottom: 0.2rem;
}

.input-field .input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.3s ease;
}

.input-field .input:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

/* Estilo para el botón de crear */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}
#crearServicio .offcanvas-header {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
}

#crearServicio .offcanvas-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  background-image: url('../../assets/imgs/editarServicio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#crearServicio .offcanvas-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#crearServicio .offcanvas-body form {
  max-width: 400px;
  margin: 0 auto;
}

#crearServicio .offcanvas-body form .form-group {
  margin-bottom: 1.5rem;
}

#crearServicio .offcanvas-body form label {
  font-weight: bold;
}

#crearServicio .offcanvas-body form input[type="text"],
#crearServicio .offcanvas-body form textarea,
#crearServicio .offcanvas-body form input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#crearServicio .offcanvas-body form input[type="text"]:focus,
#crearServicio .offcanvas-body form textarea:focus,
#crearServicio .offcanvas-body form input[type="number"]:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#crearServicio .offcanvas-body form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

#crearServicio .offcanvas-body form button[type="submit"]:hover {
  background-color: #0069d9;
}

#crearServicio .btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

#crearServicio .btn-primary:hover {
  background-color: #0069d9;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.stretched-link {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    margin-right: 0;
  }
}
