<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="navbar-brand" style="padding-left: 2%;">
    <img src="../../assets/imgs/logoEmpresaTransparente.png" class="img-fluid" alt="Logo de la empresa">
  </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/empresa/datos">Ver perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/empresa">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/empresa/calendario">Calendario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#uploadModal">Añadir Imagen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/empresa/editar/perfil">Editar perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()">Cerrar sesión</a>
        </li>
      </ul>
    </div>
</nav>
  
<div class="offcanvas offcanvas-end" tabindex="-1" id="uploadModal" aria-labelledby="uploadModalLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="uploadModalLabel">Subir imagen</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <input type="file" (change)="uploadImage($event)">
  </div>
</div>