:root {
  --primary-color: #3D7C98;
  --secondary-color: #73B0CD;
  --tertiary-color: #A8DFF1;
  --neutral-color: #F5F5F5;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  margin-right: 1rem;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  padding: 0.5rem;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
img{
  max-height: 85px;
}
.offcanvas {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
}
.nav-link {
  position: relative;
  text-decoration: none;
  color: black;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #80bdff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left center;
}

.nav-link:hover::after {
  transform: scaleX(1);
}


.offcanvas-header {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.offcanvas-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.offcanvas-body {
  margin-top: 20px;
}

.offcanvas-body p {
  margin-bottom: 10px;
}

.offcanvas-body input[type="file"] {
  display: block;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.offcanvas-body input[type="file"]:focus {
  outline: none;
  border-color: #0066ff;
}

.btn-close {
  color: #000;
  opacity: 0.5;
}

.btn-close:hover {
  opacity: 1;
}


@media (max-width: 767.98px) {
  .navbar-nav {
    margin: 0;
  }
  
  .navbar-collapse {
    background-color: #F5F5F5;
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    overflow-y: auto;
    z-index: 1000;
    transition: transform .3s ease-in-out;
    transform: translateX(-100%);
  }
  
  .navbar-collapse.show {
    transform: translateX(0);
  }
  
  .navbar-collapse .nav-link {
    padding: .5rem 0;
    font-size: 1.5rem;
  }
  
  .navbar-collapse .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  
  .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
}
