@import url('https://fonts.googleapis.com/css?family=Montserrat');

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3D7C98;

}
.comentarios-container {
  margin-top: 20px;
}

.comentario {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
}
#offcanvasResena .offcanvas-body{
  background-image: url('../../assets/imgs/fondoComentarios.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.comentario-nota {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.comentario-descripcion {
  font-size: 14px;
  color: #777;
}
.spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-top-color: #FFF;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.content {
  padding-top: 4%;
  font-family: 'Montserrat', sans-serif;
  background-image: url('../../assets/imgs/editarUsuario.jpg');
  font-size: 16px;
  color: #333;
}
.servicio-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.car-buttons button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #A8DFF1;
}
#offcanvasExample{
  background-image: url('../../assets/imgs/reserva.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.selected-day {
  background-color: #73B0CD; 
}
#offcanvasExample.offcanvas-start {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

#offcanvasExample.offcanvas-start:not(.show) {
  transform: translateX(-100%);
}

#offcanvasExample .offcanvas-body * {
  outline: none !important;
}
#offcanvasExample .offcanvas-body {
  display: flex;
  justify-content: center;
}
#offcanvasExample .offcanvas-body .wrapper-calendar {
  margin: 1rem;
  padding: 0.5rem;
  border: solid 1px #eaeaea;
  box-shadow: 0 0 10px #e4e4e4;
  background-color: white;
}

#offcanvasExample .offcanvas-body div {
  text-align: center;
  width: 300px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#offcanvasExample{
  max-height: 100vh;
}
#offcanvasExample .offcanvas-body ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 0;
}

#offcanvasExample .offcanvas-body li {
  padding: 0.25rem;
  font-size: 1.5ch;
  cursor: pointer;
}

#offcanvasExample .offcanvas-body li:hover {
  font-weight: 600;
}

#offcanvasExample .offcanvas-body h2 {
  margin-bottom: 4px;
  padding: 0;
}

#offcanvasExample .offcanvas-body .first-day {
  grid-column-start: var(--first-day-start, 0);
}

#offcanvasExample .offcanvas-body .day-name {
  background: #eee;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
  padding: 4px;
  text-align: center;
}
#offcanvasExample .offcanvas-body .calendar-wrapper {
  display: flex;
  flex-direction: column;
}

#offcanvasExample .offcanvas-body .schedule-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#offcanvasExample .offcanvas-body .schedule-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  
}

#offcanvasExample .offcanvas-body .reservation-button {
  display: block;
  width: 100%;
  margin-top: 20px;
  background-color:#73B0CD;
}
#offcanvasExample .offcanvas-body .reservation-button:hover {
  transform: scale(1.1);
  background-color:#A8DFF1;
}

#offcanvasExample .offcanvas-body .header-calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#offcanvasExample .offcanvas-body .header-calendar h1 {
  width: 100%;
  font-size: 13px;
}

#offcanvasExample .offcanvas-body .header-calendar button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

#offcanvasExample .offcanvas-body .equal-height {
  display: flex;
  flex-wrap: wrap;
}
.schedule-button button{
  background-color: #73B0CD;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.schedule-button button:hover {
  background-color: #A2DED0;
  transform: scale(1.05);

}
img {
  background-color: transparent;
}
.card-height {
  flex: 1;
}
.car-buttons button {
  border-radius: 10px;
  background-color:#73B0CD;
  color: black;
}

.schedule-button button.active {
  background-color: #3D7C98;
}
#offcanvasExample .offcanvas-body .equal-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#offcanvasExample .offcanvas-body .equal-height > [class*='col-'] > * {
  flex: 1;
}


.company-profile {
  padding-top: 2%;
}

.carousel-indicators {
  justify-content: center;
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-item img {
  border-radius: 10px;
}

.no-empresa-template {
  border: none;
  text-align: center;
}

.schedule-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border-radius: 1000px;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #73B0CD;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody td {
  color: #333;
}

.table tbody tr:hover {
  background-color: #A8DFF1;
  color: white;
}
.servicio-card {
  margin: 20px;
}

.no-servicios-template {
  border: none;
  text-align: center;
}

.footer {
  padding-top: 2%;
  background-color: #f5f5f5;
  text-align: center;
}
