<div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Servicios de la empresa</h2>
        <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let servicio of servicios">
                <td>{{ servicio.nombre }}</td>
                <td>{{ servicio.descripcion }}</td>
                <td>{{ servicio.precio }}</td>
              </tr>
            </tbody>
          </table>
          
      </div>
    </div>
  </div>
  