<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <img src="../../assets/imgs/logoEmpresaTransparente.png" class="img-fluid" alt="Logo de la empresa">
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/usuario">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Editar perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="logOut()" href="">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
