:root {
  --primary-color: #3D7C98;
  --secondary-color: #73B0CD;
  --tertiary-color: #A8DFF1;
  --neutral-color: #F5F5F5;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  margin-right: 1rem;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  padding: 0.5rem;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.logo {
  max-width: 100%;
  max-height: 100%;
}
img{
  max-height: 85px;
}
.logo-small {
  width: 40px; 
  height: 40px;
}

.result {
  padding: 8px 16px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.result:hover {
  background-color: #f5f5f5;
}

.search-container {
  position: relative;
}

/* Evitar que el header se expanda */
.navbar {
  overflow: visible !important;
}


@media (max-width: 767.98px) {
  .navbar-nav {
    margin: 0;
  }
  
  .navbar-collapse {
    background-color: #F5F5F5;
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    overflow-y: auto;
    z-index: 1000;
    transition: transform .3s ease-in-out;
    transform: translateX(-100%);
  }
  
  .navbar-collapse.show {
    transform: translateX(0);
  }
  
  .navbar-collapse .nav-link {
    padding: .5rem 0;
    font-size: 1.5rem;
  }
  
  .navbar-collapse .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  
  .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  
}
