body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3D7C98;

}

.spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-top-color: #FFF;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#myOffcanvas .offcanvas-header {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
}

#myOffcanvas .offcanvas-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  background-image: url('../../assets/imgs/editarServicio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#myOffcanvas .offcanvas-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#myOffcanvas .offcanvas-body form {
  max-width: 400px;
  margin: 0 auto;
}

#myOffcanvas .offcanvas-body form .form-group {
  margin-bottom: 1.5rem;
}

#myOffcanvas .offcanvas-body form label {
  font-weight: bold;
}

#myOffcanvas .offcanvas-body form input[type="text"],
#myOffcanvas .offcanvas-body form textarea,
#myOffcanvas .offcanvas-body form input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#myOffcanvas .offcanvas-body form input[type="text"]:focus,
#myOffcanvas .offcanvas-body form textarea:focus,
#myOffcanvas .offcanvas-body form input[type="number"]:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#myOffcanvas .offcanvas-body form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.servicio-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#myOffcanvas .offcanvas-body form button[type="submit"]:hover {
  background-color: #0069d9;
}
.car-buttons button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #A8DFF1;
}
.car-buttons button {
  border-radius: 10px;
  background-color:#73B0CD;
  border-color: #73B0CD;
  color: black;
}
img {
  background-color: transparent;
}

#myOffcanvas .btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

#myOffcanvas .btn-primary:hover {
  background-color: #0069d9;
}
.servicio-card {
  margin: 20px;
}
.content {
  padding-top: 4%;
  font-family: 'Montserrat', sans-serif;
  background-image: url('../../assets/imgs/editarUsuario.jpg');
  font-size: 16px;
  color: #333;
}

.company-profile {
  padding-top: 2%;
}

.carousel-indicators {
  justify-content: center;
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-item img {
  border-radius: 10px;
}

.no-empresa-template {
  border: none;
  text-align: center;
}

.schedule-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border-radius: 1000px;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #73B0CD;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody td {
  color: #333;
}

.table tbody tr:hover {
  background-color: #A8DFF1;
  color: white;
}

.servicio-card {
  margin-bottom: 20px;
}

.no-servicios-template {
  border: none;
  text-align: center;
}

.footer {
  padding-top: 2%;
  background-color: #f5f5f5;
  text-align: center;
}
.offcanvas {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.offcanvas:not(.show) {
  transform: translateX(-100%);
}
.offcanvas-body *{
  outline: none !important
}

.offcanvas-body .wrapper-calendar{
  margin:1rem;
  padding: .5rem;
  border: solid 1px #eaeaea;
  box-shadow: 0 0 10px #e4e4e4;
}

.offcanvas-body div {
    text-align: center;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
.offcanvas-body ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
  }
  
.offcanvas-body li {
    padding: .25rem;
    font-size: 1.5ch;
    cursor: pointer;
}
  
.offcanvas-body li:hover{
    font-weight: 600;
  }
  
.offcanvas-body h2 {
    margin-bottom: 4px;
    padding: 0;
  }
  
.offcanvas-body .first-day {
    grid-column-start: var(--first-day-start, 0);
  }
  
.offcanvas-body .day-name {
    background: #eee;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    padding: 4px;
    text-align: center;
  }
  
.offcanvas-body .header-calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
.offcanvas-body .header-calendar h1 {
    width: 100%;
    font-size: 13px;
  }
  
.offcanvas-body .header-calendar button {
    cursor: pointer;
    background-color: white;
    border: 0;
  }
  .equal-height {
    display: flex;
    flex-wrap: wrap;
}

.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.equal-height > [class*='col-'] > * {
    flex: 1;
}
#offcanvasResena .offcanvas-body{
  background-image: url('../../assets/imgs/fondoComentarios.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}